{% extends 'base.html.twig' %}

{% block title %}Create new group{% endblock %}

{% block content %}
    {% block body %}
        <h1>Create new group</h1>
        {% if domain_error %}
            {% for error in domain_error.messages %}
                <div>{{ error }}</div>
            {% endfor %}
        {% endif %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Envoyer</button>
        {{ form_end(form) }}
    {% endblock %}
{% endblock %}