{% extends 'base.html.twig' %}

{% block title %}Create new group{% endblock %}

{% block content %}
    {% block body %}
        <h1>Create new group</h1>
        {{ component('WishlistGroupFormComponent') }}
        {% if domain_error %}
            {% for error in domain_error.messages %}
                <div>{{ error }}</div>
            {% endfor %}
        {% endif %}
    {% endblock %}
{% endblock %}