{% extends 'base.html.twig' %}

{% block title %}Wishlist groups{% endblock %}

{% block content %}
    {% block body %}
        <h1>Wishlist groups</h1>
        <a href="{{ path('wishlist_group_create') }}">Create new group</a>

        {% for wishlist_group in wishlist_groups %}
            <div>
                <h2>{{ wishlist_group.name }}</h2>
            </div>
        {% endfor %}
    {% endblock %}
{% endblock %}