{% extends 'base.html.twig' %}

{% block title %}Wishlist groups{% endblock %}

{% block content %}
    {% block body %}
        <h1 class="main__title">Wishlist groups</h1>
        <div class="main__actions">
            <a class="button button--accent" href="{{ path('wishlist_group_create') }}">Create new group</a>
        </div>
        <div class="card-container">
            {% for wishlist_group in wishlist_groups %}
                <div class="card">
                    <h2 class="card__title">{{ wishlist_group.name }}</h2>
                    <div class="card__actions">
                        <a class="button button--round button--accent" href="{{ path('wishlist_group_show', { id: wishlist_group.id}) }}">
                            {% include 'svg/eye.html.twig' with { 'class_extend' : 'icon--accent'}  %}
                        </a>
                        <a class="button button--round" href="{{ path('wishlist_group_update', { id: wishlist_group.id}) }}">
                            {% include 'svg/pen.html.twig' %}
                        </a>
                        {% include 'wishlist/wishlist_group/_delete.html.twig' %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
{% endblock %}