{% extends 'base.html.twig' %}

{% block title %}Wishlist groups{% endblock %}

{% block content %}
    {% block body %}
        <h1>Wishlist groups</h1>
        <a href="{{ path('wishlist_group_create') }}">Create new group</a>
        {% for wishlist_group in wishlist_groups %}
            <div>
                <h2>{{ wishlist_group.name }}</h2>
                <a href="{{ path('wishlist_group_show', { id: wishlist_group.id}) }}">Show</a>
                <a href="{{ path('wishlist_group_update', { id: wishlist_group.id}) }}">edit</a>
                {% include 'wishlist/wishlist_group/_delete.html.twig' %}
            </div>
        {% endfor %}
    {% endblock %}
{% endblock %}