{% extends 'base.html.twig' %}

{% block title %}Show group{% endblock %}

{% block content %}
    {% block body %}
        <h1>Show group</h1>

        <div>
            <h2>{{ wishlist_group.name }}</h2>
            {% for wishlist_group_member in wishlist_group.members %}
                <div>
                    <h3>{{ wishlist_group_member.pseudonym }}</h3>
                    <span>{{ wishlist_group_member.email }}</span>
                    <span>{{ wishlist_group_member.owner ? 'Owner' }}</span>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
{% endblock %}