{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    {% block body %}
        <h1>Register user</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Envoyer</button>
        {{ form_end(form) }}
        <a href="{{ path('app_login') }}">sign in</a>
    {% endblock %}
{% endblock %}