###> ide ###
.idea/
.idea/*
###> ide ###

###> tools vendor ###
/tools/php-cs-fixer/vendor/
/tools/phpstan/vendor/
###< tools vendor ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> cs-fixer ###
.php-cs-fixer.cache
###< cs-fixer ###
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
