<form class="form-delete" action="{{ path('wishlist_delete', { 'id' : wishlist.id}) }}" method="post">
    <input type="hidden" name="_method" value="DELETE" />
    <input type="hidden" name="_token" value="{{csrf_token('delete.'~ wishlist.id)}}">
    <button class="form-delete__btn wishlist-card__btn" type="submit">delete</button>
</form>