{% extends 'base.html.twig' %}

{% block title %}Create new wishlist{% endblock %}

{% block content %}
    {% block body %}
        <h1>Create new wishlist</h1>
        {{ form_start(form)}}
        {{ form_widget(form) }}
        <button type="submit">Envoyer</button>
        {{ form_end(form) }}
    {% endblock %}
{% endblock %}