{% extends 'base.html.twig' %}

{% block title %}Update wishlist item{% endblock %}

{% block content %}
    {% block body %}
        <h1 class="main__title">Update item</h1>
        <div class="main__actions">
            <a class="button button--accent" href="{{ path('wishlist_show', { 'id' : wishlist_id }) }}">Back to the wishlist</a>
        </div>
        {% include 'wishlist/wishlist_item/_form.html.twig' %}
    {% endblock %}
{% endblock %}