.navbar {
  width: 100%;
  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  &__link {
    flex: 1 1 0;
    width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.3rem;

    & > span {
      font-size: 13px;
      color: darken($second-color, 40%);
    }

    & > svg {
      fill: darken($second-color, 40%);
    }

    &--active > svg {
      fill: $second-accent-color;
    }
  }
}