<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% if app.user %}
            {% include 'header.html.twig' %}
        {% endif %}

        {% block body %}{% endblock %}
    </body>
</html>
