<header class="header">
    <nav class="navbar">
        <ul class="navbar__list">
            <li class="navbar__item"><a class="navbar__link" href="{{ path('wishlist_list') }}">Wishlists</a></li>
            <li class="navbar__item"><a class="navbar__link" href="{{ path('wishlist_group_list') }}">Groups</a></li>
            <li class="navbar__item"><a class="navbar__link" href="{{ path('user_account') }}">Account</a></li>
            <li class="navbar__item"><a class="navbar__link" href="{{ path('app_logout') }}">Logout</a></li>
        </ul>
    </nav>
</header>