<header>
    <nav>
        <ul>
            <li><a href="{{ path('user_account') }}">Account</a></li>
            <li><a href="{{ path('app_logout') }}">Logout</a></li>
        </ul>
    </nav>
</header>