.wishlist-card {
  position: relative;
  padding: 0.5rem;
  min-height: 6rem;

  &:nth-child(odd) {
    background-color: $second-color;
  }

  &:nth-child(even) {
    background-color: $main-color;
  }

  &__title {
    width: calc(100% - 4rem);
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-transform: capitalize;
  }

  &__state {
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    padding: 0.5rem;
    border-bottom-left-radius: $default-border-radius;
    background-color: $main-color;
    text-align: center;
    text-transform: lowercase;
  }

  &:nth-child(even) &__state {
    background-color: $second-color;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
  }

  &__btn {
    padding: 0.3rem;
    border-radius: $default-border-radius;
    background-color: white;
    font-size: 1rem;
  }
}

.wishlist-form {
  &__card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
  }

  &__radio-card {
    & > input {
      display: none;
    }

    & > label {
      display: block;
      width: 12rem;
      padding: 1.5rem;
      text-align: center;
      text-transform: uppercase;
      user-select: none;
      cursor: pointer;
    }

    input:checked + label{
      background-color: $accent-color;
      color: $second-typo-color;
      transform: scaleX(1.1);
      transition: all 200ms linear;
    }

    input:not(:checked) + label{
      background-color: $second-color;
      transition: all 200ms linear;
    }
  }
}